.git
.gitignore
.pytest_cache
.coverage
htmlcov
__pycache__
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
env/
mlflow.db
mlruns/
logs/
*.log
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/external/*
!data/external/.gitkeep
models/trained/*
!models/trained/.gitkeep
models/artifacts/*
!models/artifacts/.gitkeep
notebooks/.ipynb_checkpoints
aula/
docs/processos/
